body { 
    margin: 0; 
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 223, 204); /* Light beige background */
    color: rgb(24, 28, 20); /* Dark text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
}

header {
    background-color: rgb(60, 61, 55); /* Medium dark background */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    color: rgb(236, 223, 204); /* Light text color */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.controls label, .controls input, .controls button {
    margin-right: 10px;
    color: rgb(236, 223, 204); /* Light text color */
}

.controls input, .controls button {
    background: rgb(60, 61, 55); /* Medium dark input background */
    border: 1px solid rgb(105, 117, 101); /* Border color */
    color: #eeeeee;
    padding: 5px;
    border-radius: 4px; /* Rounded corners */
}

.controls button {
    cursor: pointer;
    transition: background 0.3s;
}

.controls button:hover {
    background: rgb(105, 117, 101); /* Lighter background on hover */
    color: rgb(24, 28, 20); /* Dark text color */
}

#tree-container {
    position: relative;
    display: inline-block;
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.visualization-container {
    flex: 1;
    display: flex;
    position: relative; /* Changed to relative for SVG positioning */
    flex-direction: row; /* Change from column to row */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden;       /* Prevent scrollbars */
    width: 100%; /* Ensure the container spans the full width */
}

.connections-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.chart { 
    flex: 1; /* Allow charts to grow equally */
    max-width: none; /* Remove maximum width restriction */
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0; /* Remove horizontal margins to utilize full width */
    box-sizing: border-box;  /* Include padding and border in the element's total width and height */
}

.controls { 
    padding: 10px;
    background: rgb(105, 117, 101); /* Lighter greenish-gray */
    z-index: 2;
    display: flex; /* Added for Flexbox alignment */
    align-items: center; /* Center align items vertically */
    border-radius: 8px; /* Rounded corners */
    width: 100%; /* Ensure the controls span the full width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#crossings {
    text-align: center;
    font-size: 20px;
    /* make sure it covers all the width */
    width: 100%;
    background: rgb(105, 117, 101); /* Lighter background */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: rgb(24, 28, 20); /* Dark text color */
}

.Treant .node {
    min-width: 10px;  /* Reduced from 40px */
    /* padding: 2px;     Reduced from 3px */
    background: rgb(60, 61, 55); /* Medium dark node background */
    color: rgb(236, 223, 204); /* Light text color */
    border: 1px solid rgb(105, 117, 101); /* Border color */
    border-radius: 5px; /* Rounded corners */
    /* reduce height of nodes div */
    height: 20px;
    /* align center vertically */
    display: flex;
    align-items: center;
}

path {
    /* get a teal stroke */
    stroke: rgb(105, 117, 101); /* Line color */
}

.flipped { 
    transform: rotate(180deg); 
}

.leaf-node { 
    text-align: center; 
    font-size: 10px;
}

.internal-node {
    font-size: 10px;
}

.circle {
    font-size: 10px;
    text-anchor: middle;
    fill: rgb(105, 117, 101); /* Circle fill color */
    r: 2;
}

circle {
    fill: rgb(105, 117, 101); /* Circle fill color */
    r: 2;
}

line {
    stroke: rgb(105, 117, 101); /* Line color */
    stroke-width: 0.5;
}

#progress-container {
    width: 200px; /* Adjust the width as needed */
    background-color: #222831;
    height: 20px;
    margin-left: 20px; /* Optional: Adjust spacing between buttons and progress bar */
    border-radius: 4px;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #00adb5; /* Teal progress bar */
    border-radius: 4px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(60, 61, 55); /* Medium dark background */
    text-align: center;
    color: rgb(236, 223, 204); /* Light text color */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto; /* Push the footer to the bottom */
}
