<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- the title is passed from node server:-->
    <title> Kanaglegram Visualization</title>
    <!-- Include D3.js library -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- Include Raphael.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <!-- Include Treant.js CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="dark-mode">
    <header>
        <h1 id="titolo">Kanaglegram Visualization</h1>
    </header>
    <main>
        <div class="controls">
            <label for="depth">Depth:</label>
            <input type="number" id="depth" value="100">
            <label for="heuristic_d">h depth:</label>
            <input type="number" id="heuristic_d" value="20">
            <label for="random_d">randomize:</label>
            <input type="number" id="random_d" value="5">
            <label for="max_children">max children:</label>
            <input type="number" id="max_children" value="4">
            <label for="n_connections">links ratio:</label>
            <input type="number" id="n_connections" value="2">
            <!-- add some horizontal padding-->
            <div style="width: 15%;"></div>
            <button onclick="startVisualization(1)">Start</button>
            <button id="no_gurobi" onclick="showNextBestTree(-1)">Previous</button>
            <button id="no_gurobi" onclick="showNextBestTree(1)">Next</button>
            <button onclick="startVisualization(0)">reRun</button>
            <button id="runGurobiBtn">Run Optimization</button>
            <button onclick="automaticRun()">Automatic Run</button>
            <button id="downloadBtn">Download Data</button>
            <input type="number" id="number_automatic_runs" value="10">
        </div>
        <div id="crossings">Crossings: 0 | Time: 0 ms</div>
        <div id="swappedS">Swapped Nodes in S: </div>
        <div id="swappedT">Swapped Nodes in T: </div>
        <div class="tree-container">
            <div id="bestS" class="chart"></div>
            <div id="bestT" class="chart flipped"></div>
            <svg class="connections-svg"></svg>
        </div>
    </main>
    <script src="/trees.js"></script>
    <script src="/kanaglegram.js"></script>
</body>
</html>